<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Btl"
        tools:targetApi="33">

        <!-- Màn hình đăng nhập hiển thị đầu tiên -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình đăng ký -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Màn hình chính -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".activities.FieldDetailActivity"/>
        <activity android:name=".activities.BookingActivity"/>
        <activity android:name=".activities.ConfirmBookingActivity"/>
        <activity android:name=".activities.SuccessActivity"/>
        <activity android:name=".EditInfoActivity" />
        <activity android:name=".ChangePasswordActivity" />



    </application>

</manifest>
